
    .left{
        position: fixed;
        display: inline-block;
        position: absolute;
        left: 34px;
        top: 20px;
    }
    .left img{
        position:fixed;
        width: 72px;
        filter: invert(100%);
    }
    .left div{
        margin-top: 72px;
        position: fixed;
    }
    .mid{
        position:fixed;
        display: inline-block;
        width: 45%;
        left: 30%;
        top: 20px;
    }
    .right{
        position: fixed;
        right: 34px;
        top: 20px;
        display: inline-block;
    }
    .btn{
        margin: 0px 9px;
        font-size: 15px;
        color:white;
        border: solid 2px gray;
        border-radius: 5px;
        background-color: inherit;
    }
    .btn:hover {
        background-color: gray;
    }
    .navbar{
        display: inline-block;

    }
    .navbar li{
        display: inline-block;
        font-size: 20px;
    }
    .navbar li a{
        color: white;
        text-decoration: none;
        padding: 34px 23px;
    }
    .navbar li a:hover, .navbar li a.active{
        text-decoration: underline;
        color: gray;
    }

    /* Form */

    #container{
        /* background-color: red; */
        float: left;
        /* display: inline-block; */
        color:  white;
        /* margin-top: 0px;margin-left: 80px;margin-right: 900px; */
        height: 400px;
        margin-top:10%;margin-left: 5%;
        border-color: solid grey;
        /* background-color: rebeccapurple;      */
    }
    h4{
        padding-left: 20px;
        padding-top: 10px;
        font-size: large;
    }
    .f{
        padding: 20px 0px 10px 10px;
    }
    .f1{
        display: inline;
        display: inline-block;
        padding: 5px 5px 5px 10px;
        margin-left: 20px;
        width: 60px;
        border-radius: 10px;
        border-color: gray;
        font:bold;
        text-decoration: none;

    }
    .f1:hover{
        background-color: grey;
    }
    .in{
        background-color: inherit;
        border: none;
        border-bottom: 2px solid;
        text-decoration:  underline;
        color: white;
        text-decoration: none;
    }

    /* Footer : */

    footer.footer{
        /* background-color: red; */
        margin-top: 30%;
        clear: left;
        display: block;
        height: 30px;
        color: black;
        text-align: center;
        text-decoration:solid;
    }
    .footer h4{
        font-size: x-large;

    }

    /* Footer Over--> */